<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <form action="Register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first Name"><br>
        <input type="text" name="last_name" placeholder="last Name"><br>
        <input type="text" name="username" placeholder="username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="password" name="password_conformation" placeholder="password confirmation"><br>
        <input type="submit" value="Register">
    </form>

    <div>
        {%for message in messages %}
        <h3>{{messages}}</h3>
        {%endfor%}

    </div>
</body>
</html>